body
{
  background-color: rgb(70, 83, 114);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

header
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(74, 133, 162);
  height: 75px;
  font-size: 20px;
}
header > img
{
  height: 50px;
  margin-right: 20px;
}

.MainContent > form
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}
.InputField 
{
  border-radius: 10px;
  width: 300px;
  height: 35px;
  background-color: rgb(200, 199, 199);
  border: none;
  font-size: 15px;
  padding-left: 20px;
  color: rgb(83, 82, 82);
}
.SubmitButton
{
  border-radius: 5px;
  width: 75px;
  height: 35px;
  background-color: rgb(92, 114, 132);
  border: none;
  font-size: 20px;
  color:  rgb(47, 46, 46);;
}
.IngrediantsList > li
{
  list-style: none;
  margin-bottom: 10px;
}

.IngrediantsList
{
  margin-top: 50px;
  color: aliceblue;
  font-size: 20px;
}